.container {
  height: 100vw;
  background-color: rgb(18, 17, 24);
  padding-top: 15%;
  padding-left: 20%;
}

.list {
  display: flex;
  position: relative;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 150px;

  font-size: 18px;
  font-weight: 700;
  background-color: rgb(93, 75, 175);
  border: 1px solid black;
  cursor: pointer;
}

.item:hover {
  background-color: rgb(48, 47, 83);
}

.item:hover .dropdown {
  display: flex;
}

.dropdown {
  display: none;
  position: absolute;
  bottom: -160px;
  flex-direction: column;
}

.dropdown__item {
  position: relative;
}

.dropdown__item:hover .submenu {
  display: flex;
}
.submenu {
  display: none;
  flex-direction: column;
  position: absolute;
  right: -151px;
  top: 0;
}
